header{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    color: black;
}

nav{
    background-color: gray;
    text-align: center;
    padding: 10px;
}

nav a{
    color:white;
}