<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>columnas</title>
    <link rel="stylesheet" href="/css/columnas.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <footer>
        <div class="org-footer">
            <div class="columnas">
                <h2>Imagen</h2>
                <p>imagen corporativa</p>
            </div>
            <div class="columnas">
                <h2>links</h2>
                <ul>
                    <li>opción 1</li>
                    <li>opción 2</li>
                    <li>opción 3</li>
                    <li>opción 4</li>
                </ul>
            </div>  
            <div class="columnas">
                <div class="redes">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>                       
            <div class="columnas">
                <h2>Contactenos</h2>
                <p>Direccion</p>
                <p>email</p>
                <p>telefono</p>
            </div>    
        </div>
    </footer>
</body>
</html>